* {
  margin: 0;
}

.App {
  background-color: rgb(42, 42, 42);
  height: 100vh;
}

.hexagon {
  background-color: yellow;
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%,
      0 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hexagon:hover {
  background-color: red;
} */

.light {
  background-color: rgb(232, 232, 232);
}

.light:hover {
  background-color: rgb(215, 215, 215);
}

.medium {
  background-color: rgb(178, 178, 178);
}

.medium:hover {
  background-color: rgb(155, 155, 155);
}

.dark {
  background-color: rgb(125, 125, 125);
}

.dark:hover {
  background-color: rgb(111, 111, 111);
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.row {
  display: flex;
  margin-top: 0;
  margin-right: 1px;
}

.row:not(:first-child) {
  margin-top: -36px;
}

.hexagon .piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
}

.piece {
  z-index: 3000;
}

.hexagon .piece:hover {
  cursor: grab;
}

.hexagon .piece:active {
  cursor: grabbing;
}